@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #ffcc99;
    background-color: #1A5E63;
}

a {
    text-decoration: none;
    color: #ffcc99;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Libre Baskerville, sans-serif;
}

/* nav bar styling */

#navbar {
    font-family: Libre Baskerville, sans-serif;
    font-size: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 75px;
    text-align: center;
    z-index: 1;
}

#navbar li {
    display: inline-block;
    line-height: 75px;
}

#navbar a {
    width: 100%;
    margin: 0 auto;
    padding: 18px 70px;
}

#navbar a:hover {
    border: 1px solid #ffcc99;
    background:rgba(0, 0, 0, .7);
}

/*hero-video styling */

#hero-video {
    width: 100%;
    position: relative;
    background-size: center center;
}

#hero-video-section {
    display: block;
    width: 100%;
    position: relative;
}

/* logo styling */

#logo {
    width: 33%;
    margin: 0 auto;
    top: 45%;
    position: absolute;
    left: 33%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, .5);
    border-radius: 10%;
    font-family: Libre Baskerville, sans-serif;
    font-size: 200%;
}

#logo h2 {
    font-size: 18px;
}

/* about us section */

.section-title {
    font-size: 30px;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    padding: 30px 20px;
}

.section-content {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    font-size: 18px;
}

#about-image-1 img, #about-image-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about-image-1 {
    width: 50%;
    height: 500px;
    margin-top: 50px;
    float: left;
    position: absolute;
    border: 2px solid #ffcc99;
}

#about-image-2 {
    width: 50%;
    height: 500px;
    margin-top: 50px;
    float: right;
    border: 2px solid #ffcc99;
}

#about {
    width: 100%;
    height: 900px;
}

/* menu section */

#menus {
    width: 100%;
    height: 2140px;
    position: relative;
}

#discover-section {
    width: 100%;
    margin: 50px 0;
}

.menu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-display {
    width: 100%;
    height: 600px;
    position: relative;
}

.menu-image {
    width: 50%;
    height: 500px;
    margin: 50px 0;
    border: 2px solid #ffcc99;
    left: 0;
    position: absolute;
}

.menu-sample {
    width: 50%;
    height: 500px;
    margin: 50px 0;
    position: absolute;
    right: 0;
}

.menu-sample h2 {
    width: 60%;
    margin: 0 auto;
    border-bottom: 2px solid #ffcc99;
    text-align: center;
    font-size: 30px;
}

.menu-sample ul {
    width: 60%;
    margin: 0 auto;
    padding-top: 22px;
    list-style-type: none;
}

.menu-sample li {
    padding: 3px;
    font-size: 15px;
}

#a-la-carte-menu {
    left: 0;
}

#a-la-carte-img {
    width: 49.7%;
    left: 50%;
}

#menu-note {
    width: 100%;
    height: 40px;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}

/* restaurant information */

#info {
    background: url('../images/veg-menu-image-3.jpeg') no-repeat center;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    position: relative;
    text-align: center;
}

#info-content {
    background-color: rgba(0, 0, 0, .7);
    width: 30%;
    position: absolute;
    left: 15%;
    top: 10%;
    bottom: 10%;
    border: 2px solid #ffcc99;
}

#info-location {
    background-color: rgba(0, 0, 0, .7);
    width: 30%;
    position: absolute;
    right: 15%;
    top: 10%;
    bottom: 10%;
    border: 2px solid #ffcc99;
}

#info h3 {
    font-size: 30px;
}

#info p {
    font-size: 20px;
}

#info a {
    font-size: 40px;
    margin: 10px;
    display: inline-block;
}

#info a:hover {
    transform: scale(1.5);
}

#opening-times, #contact-us, #social-media, #find-us {
    margin: 30px 25px;
}

.mapouter {
    margin: 0 auto;
}

/* footer */

#footer {
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
}
